*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'pinar';
    src: url('./assets/fonts/Pinar-Regular.ttf');
}

body{
    font-family: 'pinar';
    background-color: #000000;
}

